<div class="main">
    <div class="inner">
        <div class="categories">
<div class="categoryContainer">
   <div class="menu">
    <a [routerLink]="['/lapa1']">
        <div class="categoryItem">
            <div class="image saraksts"></div>
            <div class="title">Stundu saraksts</div>
            <div class="description">
                Stundu saraksts ar linkiem uz nodarbībām vai Classroom, ja nav regulāri mītiņi.
            </div>
            <div class="icon"></div>
        </div>
        </a>
        <a [routerLink]="['/lapa4']">
            <div class="categoryItem">
                <div class="image alfabets"></div>
                <div class="title">Latviešu valoda</div>
                <div class="description">
                    Atgādnes par lietvārdu, darbības vārdu, īpašības vārdu, sinonīmiem, antonīmiem utt.
                </div>
                <div class="icon"></div>
            </div>
            </a>
    <a [routerLink]="['/login']">
    <div class="categoryItem">
        <div class="image matematika"></div>
        <div class="title">Login</div>
        <div class="description">
            Login treniņa uzdevums ar visu nepieciešamo šim uzdevumam. Ļoti interesanti.
        </div>
        <div class="icon"></div>
    </div>
    </a>
    <a [routerLink]="['/lapa3']">
    <div class="categoryItem">
        <div class="image dabaszinibas"></div>
        <div class="title">Veikals</div>
        <div class="description">
            mācību versija veikala veidošanai ar produktu sarakstu, pogām, lai pirktu un grozu.
        </div>
        <div class="icon"></div>
    </div>
    </a>
</div>
</div>
</div>
</div>
</div>

<!--<h3>MENU COMPONENT: {{counterService.counter}}</h3>-->



