<div class="header">
  <div class="inner">
      <div class="navigation">
          <div class="left">
            <img src="./assets/images/skola_logo.jpg" alt="image">
           
          </div>
          <div class="right">
              <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" >Uz e-pastu</a>
              <a href="https://www.duolingo.com/learn" target="_blank">Uz Duolingo</a>
              <a href="https://classroom.google.com/u/1/h" target="_blank" >Uz Classroom</a>
          </div>
      </div>
      <div class="title">
          <h1>Kristera skola</h1>
          
         
      </div>
  </div>
</div>
<!-- <app-lapa1></app-lapa1><br /> -->
<app-menu></app-menu>
<router-outlet></router-outlet>

