<div class="divider"></div>
<div class="features">
<h2><span class="slim">Stundu</span> saraksts</h2>

<table style="width:100%">
   <thead>
   <tr>
       <th>Diena, Laiks</th>
       <th>Pirmdiena</th>
       <th>Otrdiena</th>
       <th>Trešdiena</th>
       <th>Ceturtdiena</th>
       <th>Piektdiena</th>
   </tr>
   </thead>
   <tbody>
   <tr>
       <td>8:30</td>
       <td>Klases stunda 
       <a href="https://meet.google.com/ikj-kvbg-dft" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
   </tr>
   <tr>
       <td>9:00</td>
       <td>Latviešu valoda
       <a href="https://meet.google.com/mvp-bram-esv" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td></td>
       <td></td>
       <td>Matemātika m/d
       <a href="https://classroom.google.com/u/1/c/MTkwOTI3NzMyMTE3" target="_blank"> <h5>Uzdevumi Classroom</h5>
       </a>
       </td>
       <td>Latviešu valoda</td>
   </tr>
   <tr>
       <td>10:00</td>
       <td></td>
       <td>Latviešu valoda
       <a href="https://meet.google.com/xqw-gobp-iqb" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td>Matemātika
       <a href="https://meet.google.com/ebv-ccfc-rkv" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td></td>
       <td></td>
   </tr>
   <tr>
       <td>11:00</td>
       <td>Sociālās zinības
       <a href="https://meet.google.com/cwr-endb-cji" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td>Matemātika
       <a href="https://meet.google.com/dve-ueyv-raf" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td>Krievu valoda
       <a href="https://meet.google.com/tjq-xvsz-msd" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td>Dabas zinības</td>
       <td>Klases stunda</td>
   </tr>
   <tr>
       <td>12:00</td>
       <td>Sports 
       <a href="https://classroom.google.com/u/1/c/MjE2NjUyNjg4MzU3" target="_blank"> <h5>Uzdevumi Classroom</h5>
       </a>
       </td>
       <td>Dabas zinības</td>
       <td></td>
       <td>Mūzika
       <a href="https://classroom.google.com/u/1/c/MjAxMjUyODMwMDEy" target="_blank"> <h5>Uzdevumi Classroom</h5>
       </a>
       </td>
       <td>Datorika
       <a href="https://classroom.google.com/u/1/c/MTUxMTk0MDI5ODky" target="_blank"> <h5>Uzdevumi Classroom</h5>
       </a>
       </td>
   </tr>
   <tr>
       <td>13:00</td>
       <td>Latviešu val. m/d
       <a href="https://classroom.google.com/u/1/c/MTYzMDA3MzY3MjA5" target="_blank"> <h5>Uzdevumi Classroom</h5>
       </a>
       </td>
       <td>Angļu valoda
       <a href="https://skrivanek.zoom.us/j/95652969220" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td></td>
       <td>Angļu valoda
       <a href="https://skrivanek.zoom.us/j/95652969220" target="_blank"> <h5>Pievienoties</h5>
       </a>
       </td>
       <td>Māksla
       <a href="https://classroom.google.com/u/1/c/MjAxMDM3MjEzMTkz" target="_blank"> <h5>Uzdevumi Classroom</h5>
       </a>
       </td>
   </tr>
   </tbody>
</table> 
<br />
</div>
        
<p>Skaitītājs: {{counterService.counter}}</p>
<button (click)="increment(+1)">+1</button>
<button (click)="increment(-1)">-1</button>
