h2 {color:  #065252;
    text-align: center;}
h3 {color:  #d35400;
    font-size: 30px;
    text-align: center;}
h4 {color:  #2e4053;
    font-family: Comic Sans MS, Comic Sans, cursive;}
h5 {color:  #229954;}
p {color:  #0b5345;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
    text-indent: 50px;}
th {color: #6e2c00;
    font-family: Comic Sans MS, Comic Sans, cursive;}
td {color: #7e5109;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;}
th, td {border-bottom: 1px solid #ddd;}


    