  
  <h2>Atgādnes Latviešu valodā</h2>
  
  <div class="tab">
    <button class="tablinks" onclick="openHelpfile(event, 'vietniekvards')">Vietniekvārds</button>
    <button class="tablinks" onclick="openHelpfile(event, 'lietvards')">Lietvārds</button>
    <button class="tablinks" onclick="openHelpfile(event, 'darb_v')">Darbības vārds</button>
    <button class="tablinks" onclick="openHelpfile(event, 'ipasibas_v')">Īpašības vārds</button>
    <button class="tablinks" onclick="openHelpfile(event, 'zilbes')">Zilbes</button>
    <button class="tablinks" onclick="openHelpfile(event, 'vienk_teik')">Vienkāršs teikums</button>
    <button class="tablinks" onclick="openHelpfile(event, 'viennoz_daudznoz')">Viennozīmīgi un daudznozīmīgi vārdi</button>
    <button class="tablinks" onclick="openHelpfile(event, 'sinonimi_antonimi')">Sinonīmi un antonīmi</button>
    <button class="tablinks" onclick="openHelpfile(event, 'frazeologismi')">Frazeoloģismi</button>
    <button class="tablinks" onclick="openHelpfile(event, 'uzruna')">Uzruna un uzrunas grupa</button>
    <button class="tablinks" onclick="openHelpfile(event, 'tiesa_runa')">Tiešā runa un piebilde</button>
    <button class="tablinks" onclick="openHelpfile(event, 'teik_pr_izt')">Teikuma priekšmets un izteicējs</button>
    <button class="tablinks" onclick="openHelpfile(event, 'alfabets')">Alfabēts</button>
  </div>
  
  <div id="vietniekvards" class="tabcontent">
    <h3>Vietniekvārds</h3>
    <div class="container">
        <img src="./assets/images/vietniekvards.jpg" />
        </div>
  </div>
  <div id="lietvards" class="tabcontent">
    <h3>Lietvārds</h3>
    <div class="container">
        <img src="./assets/images/lietvards1.jpg" />
        <img src="./assets/images/lietvards2.jpg" />
        </div>
 
  </div>
  <div id="darb_v" class="tabcontent">
    <h3>Darbības vārds</h3>
    <div class="container">
        <img src="./assets/images/darbibas_vards.jpg" />
        </div>
  </div>
  <div id="ipasibas_v" class="tabcontent">
    <h3>Īpašības vārds</h3>
    <div class="container">
        <img src="./assets/images/ipasibas_vards.jpg" />
        </div>
  </div>
  <div id="vienk_teik" class="tabcontent">
    <h3>Vienkāršs teikums</h3>
    <div class="container">
        <img src="./assets/images/vienkarss_teikums.jpg" />
        </div>
  </div>
  <div id="viennoz_daudznoz" class="tabcontent">
    <h3>Viennozīmīgi un daudznozīmīgi vārdi</h3>
    <div class="container">
        <img src="./assets/images/viennozimigi_daudznozimigi_vardi.jpg" />
        </div>
    </div>
  <div id="sinonimi_antonimi" class="tabcontent">
    <h3>Sinonīmi un antonīmi</h3>
    <div class="container">
        <img src="./assets/images/sinonimi_antonimi.jpg" />
        </div>
  </div>
  <div id="frazeologismi" class="tabcontent">
    <h3>Frazeoloģismi</h3>
    <div class="container">
        <img src="./assets/images/frazeologismi.jpg" />
        </div>
  </div>
  <div id="uzruna" class="tabcontent">
    <h3>Uzruna un uzrunas grupa</h3>
    <div class="container">
        <img src="./assets/images/uzruna_uzrunas_grupa.jpg" />
        </div>
  </div>
  <div id="tiesa_runa" class="Tiešā runa">
    <h3>Tiešā runa un piebilde</h3>
    <div class="container">
        <img src="./assets/images/tiesa_runa_piebilde.jpg" />
        </div>
  </div>
  <div id="teik_pr_izt" class="Teikuma priekšmets un izteicējs">
    <h3>Teikuma priekšmets un izteicējs</h3>
    <div class="container">
        <img src="./assets/images/teikuma_prieksm_izteic.jpg" />
        </div>
  </div>
  <div id="alfabets" class="Alfabēts">
    <h3>Alfabēts</h3>
    <div class="container">
        <img src="./assets/images/alfabets1.jpg" />
        </div>
  </div> 
 
  

